module.js
module.js.map
pdf.worker.min.mjs
node_modules/
**/*.pdf
out/
build/
golden/
fvtt.config.js

example_files/
# Horror on the Orient Express boxed-set assets (copyrighted maps, tokens, handouts)
test/integration/Horror on the Orient Express/
